body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    border: whitesmoke outset;
    background-color: lightgray;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
}

button {
    border: whitesmoke outset;
}

button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

button:active {
    border: whitesmoke inset;
}

header button {
    background: none;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.flex-spacer {
    flex-grow: 1;
}

.icon-large {
    width: 36px;
    height: 36px;
}

.icon-small {
    width: 24px;
    height: 24px;
}