body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    border: whitesmoke outset;
    background-color: lightgray;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
}

header button {
    /* border: none; leave this commented for windows 95 */
    background: none;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-spacer {
    flex-grow: 1;
}

.icon-large {
    width: 36px;
    height: 36px;
}

.icon-small {
    width: 24px;
    height: 24px;
}