:host {
    width: 90%;
    display: grid;
    /* picture width is 106px with border, so align date with it */
    grid-template-columns: 106px 1fr;
    grid-template-rows: max-content max-content max-content;
    gap: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

@media only screen and (min-width: 640px) {
    :host {
        width: 70%;
    }
}

.post-header {
    display: flex;
    align-items: center;
    word-break: break-all;
}


@media only screen and (min-width: 640px) {
    .post-header {
        word-wrap: normal;
    }
}

picture {
    width: max-content;
    height: max-content;
}

picture img {
    width: 100px;
    height: 100px;
    border: inset;
}

.post-content {
    grid-column: span 2;
}