main section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 40em) {
    main section {
        flex-direction: row;
    }
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

h2 {
    text-align: center;
}

main section div ul {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    gap: 5px;
}

main section div ul li{
    text-align: center;
    border-style: inset;
    padding: 2px;
}

.instance-list-item {
    background-color: lightgray;
}

main section div ul button {
    border-style: outset;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

input[type="text"] {
    font-family: inherit;
    width: 1fr;
    height: 1fr;
    border: none;
}

.instances-reset-button {
    border: none;
    border-style: none;
}
